
.mat-tab-group {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border:1px solid #aaa;
  }

/* .tabs label:active {
    background-color: plum;
    border-bottom:5px solid royalblue;
} */