
.mat-tab-group { 
  background-color: white;
    width: 700px;
    display: block;
    overflow-y: scroll;
    height: 800px;
    margin: 0 auto;
    padding: 20px;
    border:1px solid #aaa;
  }

  .content{
    padding: 10px;
  }

  .heading{
    font-weight: bold;


  }

  #divChart{
    display: block;
    width: 400px;
    height: 400px;
  }