
.mat-tab-group {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border:1px solid #aaa;
  }
table{
  background-color: white;
}
  :host ::ng-deep .mat-tab-label-active {
    width:100px;
    border-bottom: 3px solid royalblue;
  }

  .content{
    padding: 10px;
  }