body{ 
    background-image: url("https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2067&q=80");
}

#login_text{
    position: absolute;
    top: 20%;
    text-align: center;
    left: 33%;
    font-size: 40px;
    color:black;
    font-family: monospace;
}

#login_box{ 
    position: absolute;
    top: 37%;
    text-align: center;
    left: 45%;
    font-size: 30px;
}

#submit{ 
    position: absolute;
    top: 43%;
    text-align: center;
    left: 48.9%;
    font-size: 30px;
}
