/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1976d2;
  background-image: url("https://wallpapercave.com/wp/wp6294643.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
